footer{
    background-color: var(--bg-color);
}

.footer__container{
    padding: 80px 0 20px 0;
    color: var(--white-font);
}

.footer__container__first__section img:hover{
    transform: rotate(-360deg);
    transition: all 1s ease-in-out;
}

.footer__container__first__section span{
    font-weight: 600;
    font-size: 24px;
    color: var(--gray-font) !important;
}  

.footer__container__links__section ul li{
    margin-bottom: 16px;
}

.footer__container__links__section ul li a{
    color: var(--gray-font);
}

.footer__container__links__section ul li a:hover{
    color: var(--white-font);
}

.footer__container__links__section ul li:nth-child(1) a{
    color: var(--white-font);
    font-weight: 700;
}


.footer__foot__section{
    margin-top: 70px;
}

.footer__foot__section  p{
    font-size: 18px;
    color: var(--white-font);
}


@media screen and (max-width: 768px) and (min-width: 578px){
    footer .footer__foot__section{
        margin-top: 35px;
    }   
}

@media screen and (max-width: 992px) and (min-width: 769px){
    .footer__container  .footer__foot__section{
        margin-top: 35px;
    }   
}


@media only screen and (max-width: 576px) {
    .footer__container{
        padding-top: 50px;
    }
}



